<h2>{{titulo}}</h2>

<!-- Two way data-binding y eventos click -->
<p>Añadir marca</p>
<p>
  <input type="text" [(ngModel)]="mi_marca" (blur)="onBlur()" (keyup.enter) = "keyupEnter()">
  <!-- <input type="text" [(ngModel)]="mi_marca" > -->
  <button (click)="getMarca()">Mostrar Marca</button>
  <button (click)="addMarca()">Añadir marca</button>
</p>
<!-- Propiedad que se encuentra en zapatos.components.ts -->
<strong>{{mi_marca}}</strong>

<p>
  Compra los zapa de las mejores marcas
</p>
  <ul>
    <li *ngFor="let marca of marcas; let indice = index">
      {{indice + ' '+ marca}}
      <button (click)="borrarMarca(indice)">Borrar</button>
    </li>
  </ul>


<p>Los zapatos que tenemos disponibles</p>
<ul>
  <!-- <li>Zapatos 1</li>
  <li>Zapatos 2</li> -->
    <!-- Recorrer un array de objetos -->
  <li *ngFor="let zapato of zapatos">
    <!-- Si no tiene stock que se pinte una linea -->
    <span [ngStyle]="{'text-decoration' : !zapato.stock ? 'line-through' : 'none'}">
      <!-- Si el precio es mayor a 80 asignar la clase altoPrecio como atributo y con ngClass -->
      {{zapato.nombre}} -
      <strong
        [class.altoPrecio]="zapato.precio >= 80"
        [ngClass]="{
          'fondoRojo': zapato.precio > 100,
          'subrayado': zapato.marca == 'Reebook'
        }">
        {{zapato.precio}}$
      </strong>
    </span>

    <span *ngIf="zapato.precio < 80"
    [style.background]="zapato.precio <=80 ? 'green' : ''"
    [style.color]="zapato.precio <=80 ? 'white' : 'black'">¡En oferta!
    </span>
  </li>
</ul>

<p>El color de la mayoria de nuestros zapatos es: </p>
<input type="text" [(ngModel)]="color">

<!-- En el constructor viene por defecto el color amarillo, por lo tanto se va a ejecutar el primer caso -->
<ul [ngSwitch] = "color">
  <li *ngSwitchCase = "'yellow'">
    El color predominante es el <span [ngStyle]="{background: color}">amarillo</span>
  </li>
  <li *ngSwitchCase = "'red'">
    El color predominante es el <span [ngStyle]="{background: color}">rojo</span>
  </li>
  <li *ngSwitchCase = "'blue'">
    El color predominante es el <span [ngStyle]="{background: color}">blue</span>
  </li>
  <li *ngSwitchCase = "'orange'">
    El color predominante es el <span [ngStyle]="{background: color}">naranja</span>
  </li>
</ul>
